# 0.Variables

In [ ]:
us_name = 5.43

In [ ]:
print(us_name)

In [ ]:
type(us_name)

# 1.Datatypes

In [ ]:
 #This is a comment, declaring a variable as a string
string_variable = 'string'
print(string_variable)

In [ ]:
# This is declaring a variable as an integer
integer_variable = 6
type(integer_variable)

In [ ]:
# This is a float variable, basically double
float_var = 6.5
type(float_var)

In [ ]:
# This is assigning a boolean value to a variable
# Make sure you capitalize first letter of boolean value, since True is a reserved word
bool_variable = True
# Another way of assigning bools is throgh parameter of 0 or 1, where 0 represents false
bool_variable = bool(0)
print(bool_variable)

In [ ]:
# This is creating a list variable
# A key characteristic of list is the square bracket
list_variable = [1,1,1,4,6,3.2,54,6.7]
# Notice that you can enter multiple value types in this, unlike java
type(list_variable)

In [ ]:
list_variable

In [ ]:
list_variable[0]

In [ ]:
# A list is not immutable
list_variable[0] = 543
list_variable[0]

In [ ]:
# To find the length of a list:
len(list_variable)

In [ ]:
# A tuple creates a list which is immutable, note that unlike a list, it has round parentheses
tuple_variable = (1,4,6,3.2,54,6.7)
type(tuple_variable)

In [ ]:
tuple_variable

In [ ]:
# Even though to create a tuple it has to have parentheses, use square brackets to call an index
tuple_variable[0]

In [ ]:
# This is creating a set variable, which uses curly brackets. Also immutable.
# Main characteristic: Can not have duplicate values
set_variable = {1,1,1,4,6,3.2,54,6.7}
type(set_variable)

In [ ]:
# Note this will not have duplicates in it
set_variable

In [ ]:
# Typecast list to set, then back to list to remove duplicates
(set(list_variable))

In [ ]:
# Defining a dictionary variable, also uses curly brackets
# A dictionary is keys and values paired
dict_variable = {'name': 'Ali', 'color': 'blue', 'age': 19}
type(dict_variable)

In [ ]:
dict_variable

In [ ]:
# Pass in the name of a key, and the value will be returned. Cannot enter index.
dict_variable['color']

In [ ]:
# You can create a dictionary/set and add to it later, just start off with: 
add_to = {}

# 2.Lists

In [ ]:
# CRUD: Create, Read, Update, Delete

In [ ]:
# Create
names = ['neil', 'buzz', 'sally', 'armstrong', 'yuri']

In [ ]:
# Read
names[0]

In [ ]:
# Putting in a negative just tells to go the other way around
names[-1]

In [ ]:
len(names)

In [ ]:
# Update
names[-1] = 'Ali'
names.append('Obama')
names

In [ ]:
names.insert(0, 'Richard')
names

In [ ]:
# Delete
del names[-1]
names

# 3. Dictionaries

In [ ]:
# Create
astronaut = {
    'name': 'Ali',
    'suit size': 'Large',
    'allergies': 'None'
}

In [ ]:
# Read
astronaut

In [ ]:
astronaut['suit size']

In [ ]:
astronaut.keys()

In [ ]:
list(astronaut.keys())

In [ ]:
astronaut.values()

In [ ]:
# Update
astronaut['allergies'] = 'Still nothn'
astronaut

In [ ]:
# To append to a dictionary
astronaut['space ship'] = 'space one'
astronaut

In [ ]:
# Delete
del astronaut['space ship']
astronaut

# 4. Conditions and Logic

In [ ]:
# Applying logic using the if statement
name = 'Ali'
# logical operators == and != exist, also if statements mostly dont use parentheses
if name == 'Neil Armstrong':
    print('Sup Neil')

In [ ]:
probability = -0.73
# probability is greater than 0.5
if probability >= 0.5:
    print(True)
# print out error if probability is below 0
elif probability < 0:
    print('Check your probabilities')
# Anything else
else:
    print(False)

In [ ]:
names = ['neil armstrong', 'sally ride', 'buzz', 'yuri', 'ella']
# This is unique to python, in which you can quickly check if an element is present in an array
# Returns a bool value
if 'buzz' in names:
    print('buzz is here')

# 5. Loops

In [ ]:
# for loops
# name is the individual variable that will get assigned all the values in names, one at a time
# Use the continue keyword to skip the rest of the loop iteration, can help reduce run time
# If there is an if statement, there MUST be an else statement in python
# If you don't want the else statement to do anything, use the word: pass
# Also, break statement stops the loop
# In python, an if statement is called a condition block
for name in names: 
    print(name)
    if name == 'buzz':
        print('Sup buzz\n')
        continue
    elif name == 'yuri':
        print('Hey  yuri')
        # To stop the loop
        break
    else:
        pass
    print('Pleased to have you here\n')

In [ ]:
# loop x number of times
# This tells it to run 10 times
##for idx in range(10):
##    print(idx)
for idx in range(1,11):
    print(idx)

In [ ]:
launched_shuttles = 0
total_shuttles = 7
# Create a while loop
while True:
    # String formatting, unique to python
    print('Shuttle {} Launched'.format(launched_shuttles +1))
    launched_shuttles += 1
    
    if launched_shuttles == total_shuttles:
        print('All shuttles launched')
        break

In [ ]:
astronaut = {'name': 'Ella',
             'suit size': 'large',
             'allergies': 'peanuts'
            }

In [ ]:
# accessing dictionary keys
astronaut.keys()

In [ ]:
# Loop through keys in a dictionary
for key in astronaut.keys():
    print(key)

In [ ]:
# Accessing dictionary values
astronaut.values()

In [ ]:
# Loop through values in a dictionary
for value in astronaut.values():
    print(value)

In [ ]:
# Returns a tuple
astronaut.items()

In [ ]:
# Loop through keys and values in a dictionary
for key, value in astronaut.items():
    print(key)
    print(value, '\n')

In [ ]:
# List comprehension
# .title converts to title case, with capital first letters
# To do this, make sure first two variable names are identical, in this case, they are titled: nameToConvert
newList = [nameToConvert.title() for nameToConvert in names]

In [ ]:
newList

# 6. Functions

In [ ]:
# defining a function in Python - Recipe
def launchpad_welcome():
    print('hello')
    print(1+7)

In [ ]:
# Running a function
launchpad_welcome()

In [ ]:
for idx in range(3):
    launchpad_welcome()

In [ ]:
names = ['neil', 'buzz', 'sally', 'yuri', 'ali']

In [ ]:
# Different from methods in java since the type of the parameter is uneccesary
# String formatting
def custom_welcome(name):
    print('Welcome {}'.format(name))

In [ ]:
for name in names:
    custom_welcome(name)

In [ ]:
# Multiple Positional Arguments (called positional since the order of the parameters matters)
def custom_welcome_to_ship(name, space_ship):
    print('Welcome {} to the {}'.format(name, space_ship))

In [ ]:
custom_welcome_to_ship('Ali', 'Space Force 1')

In [ ]:
space_ships = ['gal1', 'appleShip', 'SupShip', 'ShipSup', 'WatShip']

In [ ]:
# this is a way to map one list to another
# Enumerate gives an identifier and value from list, in other words, the index and name
for idx, name in enumerate(names):
    custom_welcome_to_ship(name, space_ships[idx])

In [ ]:
# This assigns a default value to the function if one is not passed
# This is called a keyword argument
# They differ from positional arguments since they can be put in any order when calling the function
def space_suit(color = 'Blue'):
    print('Your space suit is {}'.format(color))

In [ ]:
space_suit()

In [ ]:
space_suit('red')

In [ ]:
def space_suit_welcome(name, space_ship, color = 'blue'):
    print('Welcome {} to the {}, your suit is {}'.format(name, space_ship, color))

In [ ]:
space_suit_welcome('Ali', 'Space One', color = 'red')

In [ ]:
def  space_suit_welcome_with_return(name, space_ship, color = 'blue'):
    return 'Welcome {} to the {}, your suit is {}'.format(name, space_ship, color)

In [ ]:
# This is an example of storing a functions value into a variable using return, just like java
welcome = space_suit_welcome_with_return('Ali', 'Space One', color = 'red')

In [ ]:
# lambda function, also known as anonymous function
# They must be in a single line
# Generally better for shorter, simple functions
# This function here will take a value and multiply it by an approximation of pi (3.14)
pi = lambda x: x*3.14

In [ ]:
# This proves that a lambda function returns a value, instead of just printing it
return_value = pi(2)

In [ ]:
print(return_value)

# 7. Classes

In [ ]:
# Classes are objects with defined properties and methods
# Classes are boilerplates for objects
# Good practice to capitalize the first letter of classes
class Person():
    # The method that runs as soon as you create a class. Also, self is necessary, basically tells the method to call itself...
    # Think of this as the constructor. Self removes the need for the "this" keyword from java
    def __init__(self, name, age, color):
        self.name = name
        self.age = age
        self.color = color
        
    # Date of birth method
    # Notice that their is a parameter here, but when calling it, since it is self, there are no parameters passed
    def year_of_birth(self):
        return 2021-self.age
    
    # Projected age
    def projected_age(self, years = 5):
        return self.age + years

In [ ]:
new_person = Person('Muhammad Ali', 19, 'Blue')

In [ ]:
# Accessing a class attribute. Note: Does this mean by default, they are public, and if so, how to make them private?
new_person.color

In [ ]:
new_person.year_of_birth()

In [ ]:
new_person.projected_age(10)

# INHERITANCE 
* PARENT is the class passing down attributes and methods, which CHILD will inherit
* Parent in this case is person, while Astronaut is the child

In [ ]:
class Astronaut(Person):
    
    # Define initializer function
    def __init__(self, name, age, color, mission_length_in_months):
        # This is what gives us inheritance, super method
        super().__init__(name, age, color)
        self.mission_length_in_months = mission_length_in_months
    
    def age_on_return(self):
        # To call a function from parent class, still use the self key word
        # Type casting is the same as in java, but the parentheses are around the thing to be casted, not the type
        return self.projected_age(years = int(self.mission_length_in_months/ 12))

In [ ]:
new_astronaut = Astronaut('Ali', 19, 'green', 48)

In [ ]:
new_astronaut.color

In [ ]:
new_astronaut.year_of_birth()

In [ ]:
new_astronaut.age_on_return()

# 7. Modules

In [ ]:
# Import launch codes helper
# hit tab after typing in import to see list of available functions 
# This helpers was created in vscode and saved in the same folder as this notebook
from helpers import launch_codes

In [ ]:
launch_codes()

# 8. Working with Packages

In [ ]:
# The requests libaray allows you to install APIs.
# The exlamation mark was what we added, as it tells the notebook to run this from a command prompt
# Where did I get this command? From pypi.org. On the request page, it has directions near the top to install it. 
!pip install requests

In [ ]:
# This will list all of the different packages that we have available in our environment
!pip list

In [ ]:
# This imports requests into our notebook
import requests

In [ ]:
# Can also hit tab after the . to see available methods
requests.get??

In [10]:
# This is the I Can haz dad joke api endpoint (just the url that we will take the API from)
joke_url = 'https://icanhazdadjoke.com'
# Iss API Endpoint
iss_url = 'https://api.wheretheiss.at/v1/satellites/25544'

In [18]:
# First need to set up a header, think of it as metadata sent with our API call. 
my_header = {'Accept':'application/json'}

# API call
results = requests.get(joke_url, headers=my_header)

In [19]:
# This will return a status code. 200 means good. Look up http status codes to see what it means.
results

In [23]:
# results.json() returns a dictionary. store it to a variable. Remember, hit tab after . to see available methods.
# To get another joke, run the cell with the api call again, then continue
# Helpful to first type in results.json() by itself to see the keys in the dictionary, to know how to call its value.
json_result = results.json()

In [24]:
json_result['joke']

'Did you know that ghosts call their true love their ghoul-friend?'

In [26]:
iss_results = requests.get(iss_url, headers = my_header)

In [27]:
iss_results

In [28]:
iss_results.json()

{'name': 'iss',
 'id': 25544,
 'latitude': 14.343666954596,
 'longitude': -128.62346000867,
 'altitude': 418.97006856305,
 'velocity': 27580.10572373,
 'visibility': 'eclipsed',
 'footprint': 4502.2199157574,
 'timestamp': 1661678999,
 'daynum': 2459819.8958218,
 'solar_lat': 9.6483521510413,
 'solar_lon': 37.826277412511,
 'units': 'kilometers'}

In [29]:
print(iss_results.json()['altitude'])

418.97006856305

# 9. Working with Files

In [2]:
# Write out our mission journal
# Note, we created this file with this cell, we did not create the file beforehand
# Use open?? and see different types of operations. By default, it is 'r', for read file. 'w' is to write. the f at the end
# is just common convention. f is the variable name we assigned to the file.
with open('mission_journal.txt', 'w') as f:
    f.write('It is my first day on my space mission, it is cold here.')

In [3]:
# read from journal
with open('mission_journal.txt', 'r') as f:
    file = f.read()

In [4]:
print(file)

It is my first day on my space mission, it is cold here.

# 10. Error Handling

In [6]:
# Create a set
new_set = {1,2,3,4,5,6}

In [10]:
# Since the set is immutable, trying to change an element will produce an error
# Except is the catch from java. 
try: 
    new_set[0] = 4
# Exception is  a reserved word, and e is the variable that represents our error
except Exception as e:
    print(e)
    print('Something went wrong with your request.')

'set' object does not support item assignment
Something went wrong with your request.